.app-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  height: 650px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 7fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #F2F2F2;
}
#block {
  padding: 10px 10px 10px 70px;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: white;
  margin: 30px 30px 30px 30px;
  height: 50%;
  width: 70%;
  border-radius: 5px;
  border: 1.5px solid #d6d6d6;
}
